@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500&family=Old+Standard+TT:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #34495e;
}

header nav .navbar-nav {
  min-width: 20%;
  display: flex;
  text-align: end;
}

.modal-body div {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.modal-body input {
  width: 250px;
  height: 30px;
  border: 1px solid brown;
  border-radius: 1px;
  font-size: 16px;
  padding: 15px;
}

.modal-body input[type="time"] {
  max-width: 165px;
  height: 30px;
  border: 1px solid brown;
  border-radius: 1px;
  outline: unset;
  border-left: none;
}

.model-body .Week-time {
  display: flex;
  font-size: 16px;
  margin: 0 0 !important;
}

.timelabel {
  margin: 18px 0;
}

.container .box {
  width: 30%;
  padding: 40px;
  position: absolute;
  top: 50%;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  box-shadow: -5px 10px #2e2e2e;
}

.container .box:hover {
  box-shadow: -10px 15px #2e2e2e;
}

.container .box input[type="text"],
.container .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.5s;
}

.container .box input[type="text"]:focus,
.container .box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.container .box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}

.container .box input[type="submit"]:hover {
  background: #2ecc71;
}
