@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-color: #444e68;
  font-size: 14px;
}

footer {
  background-color: #2c3449;
  height: 300px;
  /* z-index: 1; */
}

footer a {
  color: #0685d9;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  margin: 40px 40px 0 40px;
  padding: 31px 41px 0 41px;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  height: 130px;
  padding-bottom: 10px;
}

.header-end {
  font-size: 21px;
}

.header-end .home {
  color: #e8a12b !important;
}

.header-center .element {
  opacity: 0.7;
}

header .header-center .active {
  background-color: #323b52;
  opacity: 1 !important;
  border-radius: 20px !important;
  padding: 10px 19px !important;
}

.header-end {
  text-align: end;
  line-height: 0.7;
}

.scte-logo {
  width: 140px;
}

.m-p-unset {
  margin: unset;
  padding: unset;
}

.brand-top {
  font-family: "Old Standard TT", serif;
  color: #ffffff;
  font-size: 57px;
  font-weight: 50;
  line-height: 1.1;
}

.logo-img {
  width: 83px;
  margin: 0 0 0 19px;
}

.f-color-white,
.f-color-white a {
  color: #fff;
  font-size: 16px;
}

.footer-end-container {
  width: 93%;
  margin: 0 0 0 2%;
}

.footer-last-text,
.footer-last-text:hover {
  color: #717785;
}

.Secondary-container {
  width: 90%;
  margin: 0 auto;
}

.header-element-padding {
  padding: 5px 17px;
}

.header-start .home {
  border-top: 3px solid #e8a12b;
  border-bottom: 3px solid #e8a12b;
}

.certification-hov {
  border-top: 3px solid rgba(209, 12, 249, 0);
  border-bottom: 3px solid rgba(209, 12, 249, 0);
  transition: all 0.1s;
}

.certification-hov:hover {
  border-top-color: rgba(209, 12, 249, 1);
  border-bottom-color: rgba(209, 12, 249, 1);
  transition: all 1s;
}

.coursework-hov {
  border-top: 3px solid rgba(49, 214, 196, 0);
  border-bottom: 3px solid rgba(49, 214, 196, 0);
}

.coursework-hov:hover {
  border-top-color: rgba(49, 214, 196, 1);
  border-bottom-color: rgba(49, 214, 196, 1);
  transition: all 1s;
}

/* .coursework-hov {
} */
.fs-16 {
  font-size: 16px;
}

.w-10 {
  width: 10% !important;
  margin: 0 auto;
}

.w-15 {
  width: 15% !important;
  margin: 0 auto;
}

.w-20 {
  width: 20% !important;
  margin: 0 auto;
}

.w-22 {
  width: 22% !important;
}

.w-30 {
  width: 30% !important;
  margin: 0 auto;
}
.w-40 {
  width: 40% !important;
  margin: 0 auto;
}

.w-60 {
  width: 60% !important;
  margin: 0 auto;
}
.w-70 {
  width: 70% !important;
  margin: 0 auto;
}
.w-80 {
  width: 80% !important;
  margin: 0 auto;
}
.w-90 {
  width: 90% !important;
  margin: 0 auto;
}

.fw-0 {
  font-weight: 400;
}

.fw-1 {
  font-weight: 500;
}

.fw-2 {
  font-weight: 600;
}

.border-blue {
  border-color: #0685d9 !important;
}

.border-blue svg {
  opacity: 0.8;
}

footer li a:hover {
  color: #0685d9;
}

main {
  margin: 40px 40px 0 40px;
}

.utalization-main {
  background-image: url("../images/grp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}

.fs-12 {
  font-size: 12px;
}

.date-fs {
  font-size: 29px;
}

.overlay-padding .flowing-section .performance {
  font-style: 14px;
  padding-top: 10px;
}

#innerData,
.performance p {
  cursor: pointer;
}

.profile {
  width: 30px;
  border-radius: 50%;
}

.background-togler {
  background-image: url(../images/graph5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.fs-20 {
  font-size: 20px;
}

.align-bottom {
  align-items: flex-end;
}

.contact-wh {
  min-width: 290px;
  padding-top: 14px;
  text-align: center;
  /* color: #fff; */
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.bg-pink {
  background-color: #aaa;
}

.green-sec-parrent {
  position: relative;
}

#green-sect {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hero-section {
  background-image: url("../images/polycable_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  position: relative;
  z-index: -1;
  background-position: bottom;
}

.overlay-back {
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.svgSetting {
  min-width: 100%;
  margin-top: 140px;
  position: relative;
}

.posationing {
  position: absolute;
  top: 49.5%;
}

.wrapper {
  width: 100%;
  position: absolute;
  margin-top: 141px;
}

/* .img-overlay { */
/* z-index: 0; */
/* position: relative; */
/* } */

.z-index-0 {
  position: relative;
}

.overlay-data {
  /* z-index: 1; */
  position: absolute;
  min-width: 100%;
  top: 21.5%;
  /* left: 0; */
  /* right: 0; */
}

.overlay-padding {
  padding: 29px 9px 13px 15px;
  color: #fff;
  font-size: 17px;
  line-height: 2;
}

.popup-dots {
  text-align: left;
  color: #fff;
  font-size: 13px;
  line-height: 2;
}
.card-percentage {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1;
  padding-top: 7px;
}

.card-percentage .sign {
  font-size: 33px;
  position: relative;
  top: -30px;
}
.card-percentage .after-point {
  position: relative;
  font-size: 24px;
}
.card-percentage .mod {
  position: relative;
  right: 20px;
  font-size: 33px;
  top: -30px;
}

.down-text {
  font-size: 11px;
  vertical-align: bottom;
  padding-top: 6px;
}

.arrow-img {
  width: 15px;
  height: 17px;
  margin-top: -10px;
}

.d-none-sec {
  display: none !important;
}
.toogled-border {
  margin: 10px 20px;
  border: 1px solid #fff;
}

.cont-width {
  width: 340px;
}

/* .details{
  margin-top: -190px;
} */
.w-20-1 {
  width: 20%;
}

.w-20-2 {
  width: 20%;
}

.w-20-3 {
  width: 20%;
}

.w-20-4 {
  width: 20%;
}

.w-20-5 {
  width: 20%;
}

.bg-green {
  background-color: rgba(45, 191, 22, 0.8);
}

.bg-pink {
  background-color: rgba(247, 0, 101, 0.8);
}

.bg-blue {
  background-color: rgba(84, 78, 159, 0.8);
}

.bg-lightBlue {
  background-color: rgba(0, 117, 213, 0.8);
}

.bg-orange {
  background-color: rgba(252, 172, 42, 0.8);
}

.cross-font {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.cross-font:hover {
  color: #fff;
}

.flowing-section {
  color: white;
  line-height: 1.5;
}
.toogler-sec {
  padding: 10px 20px;
}
.opc-7 {
  opacity: 0.7;
}

.date-main {
  cursor: pointer;
  color: white;
}
