@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 1270px;
  margin: 0;
}
.header-back {
  background-image: url("../imgs/header-background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

.nav-outer-div {
  display: flex;
}

.nav-logo {
  width: 20%;
  height: 80px;
  padding: 50px 0px 100px 10%;
  display: inline-block;
}

.nav-span-div {
  width: 80%;
  display: inline-block;
  padding: 50px 117px 100px 0%;
  /* width: 805px; */
  height: 22px;
  margin: 15px 0 100px 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.nav-span {
  margin-left: 100px;
}

.section-1> h2 {
  width: 230px;
  height: 37px;
  margin: 0 0 20px 10%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.Lets-Make-Your-Inter {
  width: 745px;
  height: 61px;
  margin: 16px 0 0 10%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.header-last {
  position: relative;
}

.header-last-img {
  position: absolute;
  top: -60px;
  left: 5%;
}

.header-last-img-i {
  width: 650px;
  height: 472px;
}

.header-about-us {
  width: 65%;
  height: 472px;
  padding: 85px 135px 82px 91px;
  background-color: #2e2e2e;
  position: absolute;
  top: -20px;
  right: 0px;
}

.about-us {
  width: 150px;
  height: 37px;
  margin: 0 499px 27px 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.about-us-text {
  width: 640px;
  height: 117px;
  margin: 27px 0 57px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  color: #fff;
}

.first-art {
  width: 100%;
  height: 800px;
}
.first-art-bac {
  background-image: url("../imgs/background-t.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 491px;
  width: 100%;
}

.our-services {
  width: 100%;
  height: 22px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dc2d32;
  text-transform: uppercase;
  padding-top: 62px;
  padding-bottom: 20px;
}

.what-we-do {
  width: 100%px;
  height: 37px;
  margin: 11px 0 64px 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.first-art-l-outer {
  width: 100%;
  height: 274px;
  position: relative;
  text-align: center;
}

.b-icon {
  /* margin-top: 100px; */
  padding-top: 100px;
  margin: 40px 0;
}

.ca-banner {
  background-image: url("../imgs/architecture.png");
  background-repeat: no-repeat;
  background-position: top;
  max-height: 3780px;
}

.ca-banner:hover {
  background-image: url("../imgs/exterior.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.ca-banner:hover .hov {
  color: #941014;
  background-color: #f6f6f6;
}

.ca-banner:hover .b-par {
  color: #fff;
}

.art-banner {
  width: 288px;
  height: 398;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.18);
  background-color: #fff;
}

.cp1 {
  position: absolute;
  left: 20%;
}

.cp2 {
  position: absolute;
  left: 42%;
}

.cp3 {
  position: absolute;
  left: 64%;
}

.b-1-pos {
  position: absolute;
  top: 0;
  left: 350px;
}

.b-2-pos {
  position: absolute;
  top: 0;
  left: 700px;
}

.b-3-pos {
  position: absolute;
  top: 0;
  left: 350px;
}

.art-background-img-1 {
  background-image: url("../imgs/architecture.png");
  background-repeat: no-repeat;
  text-align: center;
  width: 288px;
  height: 37px;
}
.art-background-img-2 {
  background-image: url("../imgs/interior.png");
  background-repeat: no-repeat;
  text-align: center;
  width: 288px;
  height: 37px;
}

.art-background-img-3 {
  background-image: url("../imgs/exterior.png");
  background-repeat: no-repeat;
  text-align: center;
  width: 288px;
  height: 37px;
}

.b-back-img {
  background-image: url("../imgs/architecture.png");
  background-repeat: no-repeat;
  text-align: center;
  width: 288px;
  height: 37px;
}

.b-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.b-par {
  width: 240px;
  height: 81px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
  margin: 18px 21px 28px;
  overflow: hidden;
}

/* .art-banner :hover{
    background-image: url("../imgs/exterior.png");
    width: fit-content;
    height: fit-content;
    color: #fff;
    overflow: hidden;
} */

/* ///////////////////////////////////////////////////////////////////// */

/* Second Article  */

.sec-art {
  width: 100%;
  height: 700px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  background-size: cover;
  display: flex;
  text-align: center;
  padding: 25px;
}

.sec-art-f-d {
  display: inline-block;
  height: 649px;
  width: 30%;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.17);
  background-color: #fff;
  margin-left: 20%;
}

.sec-art-s-d {
  background-image: url("../imgs/sec-arti-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 649px;
  width: 30%;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.17);
}

.sec-first-heading {
  /* width: 146px; */
  height: 22px;
  margin: 0 26.5px 16px 34px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dc2d32;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 16px;
}

.sec-sec-heading {
  /* width: 322px; */
  height: 94px;
  margin: 16px 77px 37px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
  text-transform: capitalize;
}

.sec-art-parag {
  height: 169px;
  margin: 37px 55px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
  overflow: hidden;
}

.sec-ar-last-div {
  display: flex;
  margin: 37px 55px;
}

.sec-art-l-div {
  display: inline-block;
}

.sec-l-h {
  margin: 38px 10px 72px;
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* Third Article */

.pro-card-outer {
  width: 100%;
  height: 780px;
  display: flex;
  background-color: #fff;
  background-size: cover;
}

.pro-card {
  display: inline-block;
  width: 24.8%;
  margin: 0.19%;
}

.card-1 {
  background-image: url("../imgs/pro-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-2 {
  background-image: url("../imgs/pro-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-3 {
  background-image: url("../imgs/pro-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-4 {
  background-image: url("../imgs/pro-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.pro-title {
  min-width: 24.75%;
  min-height: 88px;
  /* padding: 34px 34px 32px 123px; */
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
  background-color: #fff;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 34px;
  text-transform: capitalize;
}
.pro-title:hover {
  background-color: #f6f6f6;
}

.txt-h {
  max-width: 50%;
  height: 57px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
  margin-top: 24px;
  margin-bottom: 33px;
  overflow: hidden;
  margin: 24px 25% 33px 25%;
}

.hidden-elements-for-hover {
  display: none;
}

.pro-title:hover .hidden-elements-for-hover {
  display: block;
  background-color: #f6f6f6;
}

/* //////////////////////////////////////////////////////////// */
.third-item {
  width: 100%;

  position: relative;
  /* text-align: center; */
}

.left-arrow {
  position: absolute;
  left: 10%;
  /* right: 0; */
  top: 183px;
}

.right-arrow {
  position: absolute;
  right: 15%;
  /* left:100%; */
  top: 183px;
}

.c1-p {
  position: absolute;
  left: 20%;
  /* right:70%; */
  top: 89px;
}

.c1-p:hover {
  position: absolute;
  left: 15%;
  /* right:75%; */
  top: 0;
}

.c2-p {
  position: absolute;
  left: 40%;
  /* right:60%; */
  top: 89px;
}

.c2-p:hover {
  position: absolute;
  left: 35%;
  /* right:55%; */
  top: 0;
}

.c3-p {
  position: absolute;
  /* left:70%; */
  right: 25%;
  top: 89px;
}

.c3-p:hover {
  position: absolute;
  /* left:65%; */
  right: 20%;
  top: 0;
  /* margin-right: 10% ; */
}

.card-data {
  background-image: url("../imgs/white-pro.png");
  background-repeat: no-repeat;
  width: 256px;
  height: 236px;
  color: #000;
  font-family: Montserrat;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
}

.card-name {
  font-size: 18px;
  font-weight: 600;
}

.card-img {
  max-width: 88px;
  max-height: 88px;
  margin: 50px 88px 23px 89px;
  text-align: center;
}

.card-details {
  display: none;
}

.card-data:hover {
  width: 400px;
  height: 414px;
  background-image: url("../imgs/red-pro.png");
  background-repeat: no-repeat;
  color: #fff;
  font-family: Montserrat;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
}

.card-data:hover .card-details {
  display: block;
  width: 334px;
  height: 147px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  margin: 33px 33px 48px 33px;
}

.btn-read-more {
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 43px;
  padding: 0;
  border-radius: 5px;
  outline: none;
  border: none;
}

.card-data:hover .b-ed > button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: red;
  margin-bottom: 43px;
  padding: 0;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f6f6f6;
}

.sec-last-art {
  width: 100%;
  height: 770px;
  margin: 0;
  padding: 5%;
}

.first-heading {
  width: 100%;
  height: 22px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dc2d32;
  text-transform: uppercase;

  height: 22px;
  margin: 0 26.5px 16px 34px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dc2d32;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 16px;
}

.sec-heading {
  width: 100%;
  height: 94px;
  text-shadow: 0 2px 4px var(--black-26);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #2e2e2e;
  text-transform: capitalize;
  margin: 16px 0px 60px 0px;
}

.get-in-touch {
  width: 240px;
  height: 37px;
  margin-bottom: 29px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 1;
  color: #dc2d32;
}

.l-art-ic {
  max-width: 17px;
  max-height: 20px;
  margin-right: 10px;
}

.txt {
  margin-top: 0px;
  max-width: 523px;
  height: 365px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #5b5b5b;
}

.txt > p {
  width: 500px;
}

.txt-span {
  margin-left: 80px;
}

button {
  width: 60px;
  height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  width: 255px;
  height: 60px;
  padding: 18px 97px 18px 98px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #db2d32, #941014);
}

.f-btn {
  width: 255px;
  height: 60px;
  padding: 18px 97px 18px 98px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #db2d32, #941014);
  /* text-align-last: center; */
  /* position: fixed; */
  margin-left: 70px;
  margin-right: 70px;
}

.last-art {
  margin: 0;
  width: 100%;
  height: 865px;
}

.first-div {
  background-color: #212121;
  width: 100%;
  height: 258px;
}

.last-art-div {
  position: relative;
}

.sec-div {
  position: absolute;
  top: 313px;
  left: 180px;
  right: 737px;
}

.form-div {
  position: absolute;
  top: 119px;
  right: 10%;

  width: 536px;
  min-height: 665px;
  margin: 0px;
  padding: 58px 77px 48px 78px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.17);
  background-color: #f7f7f7;
}

.make-app {
  width: 340px;
  height: 37px;
  margin: 0 20px 44px 21px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dc2d32;
}

.input-type-1 {
  width: 381px;
  height: 45px;
  margin: 15px 0;
  padding: 10px 3px 11px 19px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  background-color: #f7f7f7;
}

.input-type-2 {
  width: 381px;
  height: 128px;
  margin: 15px 0 43px;
  padding: 10px 290px 94px 19px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  background-color: #f7f7f7;
}

.footer-nav-first {
  background-color: #2e2e2e;
  width: 100%;
  height: 139px;
  margin: 91px 0 0;
  padding: 47px 0 0;
  display: block;
  /* background-color: #2e2e2e; */
  /* text-transform: uppercase; */
}

.footer-nav-items {
  width: 70%;
  height: 18px;
  margin: 0 348px 45px 246px;
  float: center;
}

.f-nav-item {
  text-transform: uppercase;
  padding-right: 43px;
  opacity: 0.56;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: justify;
  color: #fff;
  float: center;
}

.footer-end {
  background-color: #212121;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 28px 136px 29px;
  display: block;
}

.copyri-div {
  width: 40%;
  height: 20px;
  margin: 1px 700px 2px 0;
  opacity: 0.7;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.icon-div {
  width: 60%;
  display: inline;
}

.img-icon {
  margin-right: 50px;
  display: inline;
  float: right;
}

/* baner button class */
.b-read-more {
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 43px;
  padding: 0;
  border-radius: 5px;
  outline: none;
  border: none;
}

.header-btn {
  width: 255px;
  height: 60px;
  margin: 46px 0 250px 10%;
  padding: 18px 71px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  background-image: linear-gradient(to bottom, #db2d32, #941014);
  font-size: 18px;
}

.header-last-btn {
  margin-left: 0;
  margin-top: 0;
}

.fourth-art {
  width: 100%;
  height: 800px;
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  text-align: center;
}

.lines {
  width: 100%;
  height: 400px;
  position: relative;
}

.-Concept {
  width: 150px;
  height: 22px;
  /* margin:30px 36px 8px 20px; */
  padding: 30px 0 8px 35px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e2e2e;
  text-align: left;
  word-spacing: 1px;
}
.-Concept .text-style-1 {
  color: #dc2d32;
  /* padding: 30px 0 8px 35px; */
}

.Lorem-ipsum-dolor-si {
  width: 300px;
  height: 60px;
  /* margin: 0px 0px 0px 0px; */
  padding: 12px 0 30px 35px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #2e2e2e;
  padding-top: 20px;
  padding-bottom: 31px;
  text-align: left;
}

.line-1 {
  width: 400px;
  height: 150px;
  position: relative;
  border-bottom: 1px solid #000;
  border-left: 1px solid black;
  background-color: #f6f6f6;
}

.bordertopright {
  border-top: 1px solid #000;
  position: absolute;
  right: 95%;
  left: 0;
}

.line-2 {
  background-color: #f6f6f6;
  width: 400px;
  height: 150px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  position: relative;
}

.borderbotemright {
  height: 149px;
  border-bottom: 1px solid #000;
  position: absolute;
  right: 95%;
  left: 0;
}

.first-item-line {
  position: absolute;
  top: 10px;
  left: 240px;
}

.seecod-item-line {
  position: absolute;
  top: 159px;
  left: 428px;
}

.third-item-line {
  position: absolute;
  top: 10px;
  left: 615px;
}

.fourth-item-line {
  position: absolute;
  top: 159px;
  left: 800px;
}

.fifth-item-line {
  position: absolute;
  top: 10px;
  left: 986px;
}

.circle-1 {
  width: 25px;
  height: 25px;
  /* margin: 129px 6px 0 0; */
  border: 3px solid #dc2d32;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 148px;
  left: 230px;
}

.circle-2 {
  width: 25px;
  height: 25px;
  /* margin: 129px 6px 0 0; */
  border: 3px solid #dc2d32;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 148px;
  left: 416px;
}

.circle-3 {
  width: 25px;
  height: 25px;
  /* margin: 129px 6px 0 0; */
  border: 3px solid #dc2d32;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 148px;
  left: 603px;
}

.circle-4 {
  width: 25px;
  height: 25px;
  /* margin: 129px 6px 0 0; */
  border: 3px solid #dc2d32;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 148px;
  left: 789px;
}

.circle-5 {
  width: 25px;
  height: 25px;
  /* margin: 129px 6px 0 0; */
  border: 3px solid #dc2d32;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 148px;
  left: 974px;
}

input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}
input[type="date"] {
  color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}


/* Common Container */
.container {
  max-width: 1511px;
  margin: 0 auto;
}
/* Header */
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.nav-main .nav-list {
  list-style: none;
  display: flex;
  color: white;
  font-size: 18px;
}
.nav-main .nav-list li {
  margin-right: 40px;
  cursor: pointer;
}
.nav-main .nav-list li:hover {
    font-weight: 600;
}
