@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap");

body {
  max-width: 100%;
  margin: 0;
  font-family: "Montserrat";
}
ul {
  padding: 0;
}

button {
  background-image: linear-gradient(#db2d32 , #941014);
  color: #f6f6f6;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  text-transform: capitalize;
  font-family: "Open Sans";
}

button:hover {
  background-color: #f6f6f6;
  color: #db2d32;
  transition: background-color 0.2s linear;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.top-red-heading {
  /* height: 22px; */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-size: 24px;
  font-weight: 500;
  color: #dc2d32;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 16px;
  text-align: center;
}

.top-white-heading {
  height: 94px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #fff;
  text-transform: capitalize;
}

.top-black-heading {
  /* max-width: 80%; */
  height: 94px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #2e2e2e;
  text-transform: capitalize;
  text-align: center;
  margin: 0 20%;
}

.for-over-20-year {
  background-image: url("../images/header-background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60%;
}

/* Common Container */
.container {
  max-width: 80%;
  margin: 0 auto;
}

/* Header */
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  flex-direction: row;
  /* flex-wrap: nowrap; */
}

/* @media (max-width:600px) {
  .nav-main{
    flex-direction: column;
  }
} */
.nav-main .nav-list {
  list-style: none;
  display: flex;
  color: white;
  font-size: 18px;
}
.nav-main .nav-list li {
  margin-left: 40px;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-main .nav-list li:hover {
  font-weight: 600;
}

/* Section 1 */

.for-over-20-year div {
  padding-top: 200px;
  padding-bottom: 200px;
}

.for-over-20-year h1 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}

.for-over-20-year .container button {
  width: 255px;
  height: 60px;
  font-size: 20px;
}

.for-over-20-year .container h2 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

/* section 2 */
.about-us {
  display: flex;
  flex-direction: row-reverse;
  margin: -5% auto auto auto;
}

.about-us .about-us-container {
  /* width: 55%; */
  /* max-width: 55%; */
  /* max-height: 450px; */
  background-color: #212121;
  margin: 2.5% 0 0 0;
  padding: 3% 0 0 8%;
  margin-left: -10%;
  z-index: 1;
}

.about-us .about-us-image-container {
  /* max-height: 450px; */
  max-width: 780px;
  overflow: hidden;
}

.about-us-container .about-us-heading {
  width: 30%;
  color: white;
  padding-left: auto;
  font-weight: 530;
  font-size: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.about-us .about-us-container p {
  max-width: 70%;
  font-weight: 400;
  color: #f6f6f6;
  line-height: 1.67;
  font-size: 20px;
  padding-bottom: 37px;
}

.about-us .about-us-container button {
  min-width: 270px;
  min-height: 60px;
  font-size: 20px;
}

/* Section 3 */
.our-servicis-main {
  background-image: url("../images/background-t.png");
  background-repeat: no-repeat;
  background-size: 100% 85%;
}

.our-servicis {
  text-align: center;
}

.our-servicis-card {
  /* max-width: 290px; */
  display: inline-block;
  min-width: 29.5%;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.18);
  background-color: #fff;
  margin: 15px;
}

.card-logo {
  content: url("../images/exterior-ic.png");
  alt: "our servicis card logo";
  width: 60px;
  height: 60px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.our-servicis-card p {
  max-width: 300px;
  max-height: 65px;
  overflow: hidden;
  margin: auto;
  margin-top: 60px;
}

.our-servicis-card button {
  width: 140px;
  height: 40px;
  font-size: 18px;
  margin: 43px 0;
}

.our-servicis-card-main {
  min-width: 60%;
  margin: auto;
  /* min-height: 530px; */
}

.card-background {
  background-image: url("../images/exterior.png");
  background-repeat: no-repeat;
  background-size: 100% 10%;
  overflow: hidden;
  height: 500px;
}

.our-servicis-card:hover .card-background {
  color: #fff;
  -webkit-transition: width 2s;
  background-size: 100% 100%;
  overflow: hidden;
  transition: background-size 0.2s linear;
}

.our-servicis-card:hover .card-logo {
  content: url("../images/house.png");
}

/* Section 4 */
.our-features-main {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.17);
}

.our-features {
  display: inline;
  min-height: 755.5px;
  min-width: 50%;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.17);
  background-color: #fff;
}

.our-features p {
  height: 169px;
  margin: 37px 55px;
  font-size: 20px;
  line-height: 1.72;
  text-align: center;
  color: #2e2e2e;
  overflow: hidden;
}

.our-features-icons {
  display: flex;
  margin: 37px 55px;
  text-align: center;
}

.our-features-media {
  /* display: inline-block; */
  max-width: 300px;
}

.b-title {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 18px;
  margin: 38px 10px 72px;
  padding: 0 15px;
}

.our-features-image {
  background-image: url("../images/sec-arti-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  min-height: 755.5px;
  min-width: 50%;
}

/* Section 5 */

.our-project-main {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.our-project {
  display: flex;
  flex-direction: row;
}

.our-project-card {
  display: inline-block;
  width: 24.8%;
  margin-right: 0.19%;
  margin-left: 0.19%;
  height: 780px;
  overflow: hidden;
  color: #2e2e2e;
}

.hid-box {
  top: 90%;
  position: relative;
  transition: all 0.3s ease-out;
  background: #fff;
  height: 100%;
}

.our-project-card:hover > .hid-box {
  top: 60%;
  background-color: #f6f6f6;
}

.b-read-more {
  width: 140px;
  height: 40px;
  font-size: 18px;
  margin: 43px 0 43px 0;
}

.pro-b1 {
  background-image: url("../images/pro-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pro-b2 {
  background-image: url("../images/pro-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-b3 {
  background-image: url("../images/pro-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-b4 {
  background-image: url("../images/pro-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden-elements-for-hover p {
  max-width: 50%;
  height: 57px;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  overflow: hidden;
  margin: 0 25% 0 25%;
}

.our-project-card h1 {
  height: 5%;
  padding-top: 25px;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

/* Section 6 */
.our-design-main {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f6f6f6;
  text-align: center;
}

.our-design {
  width: 75%;
  margin: 0 auto;
}

/* .our-design-about-cont{

} */

/* //////////////////////////////////////////////////// */
.our-design-about {
  width: 100%;
  height: 400px;
  position: relative;
}

.our-design-about-first {
  position: absolute;
  top: 10px;
  left: 0.7%;
}

.our-design-Concept {
  width: 493px;
  height: 150px;
  position: relative;
  border-bottom: 1px solid #2e2e2e;
  border-left: 1px solid black;
  background-color: #f6f6f6;
}

.bordertopright {
  border-top: 1px solid #000;
  position: absolute;
  right: 95%;
  left: 0;
}

.Concept {
  width: 150px;
  height: 22px;
  padding: 30px 0 8px 45px;
  font-size: 18px;
  font-weight: 600;
  color: #2e2e2e;
  text-align: left;
}
.Concept .our-design-red-text {
  color: #dc2d32;
  /* padding: 30px 0 8px 35px; */
}

.Lorem-ipsum-dolor-si {
  width: 300px;
  height: 60px;
  padding: 0px 0 0px 45px;
  font-size: 18px;
  line-height: 1.63;
  color: #2e2e2e;
  text-align: left;
}

.our-design-plan-main {
  position: absolute;
  top: 160px;
  left: 17%;
}

.our-design-plan {
  background-color: #f6f6f6;
  width: 498px;
  height: 150px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  position: relative;
}

.borderbotemright {
  height: 149px;
  border-bottom: 1px solid #000;
  position: absolute;
  right: 95%;
  left: 0;
}

.our-design-design {
  position: absolute;
  min-height: 415px;
  top: 10px;
  left: 33.4%;
}

.our-design-build {
  position: absolute;
  top: 160px;
  left: 50.65%;
}

.our-design-lunch {
  position: absolute;
  top: 10px;
  left: 66.76%;
}

.our-design-circle {
  width: 25px;
  height: 25px;
  /* margin: 129px 6px 0 0; */
  border: 3px solid #dc2d32;
  background-color: #fff;
  border-radius: 20px;
}

.circle-1 {
  position: absolute;
  top: 145px;
  left: -0.3%;
}

.circle-2 {
  position: absolute;
  top: 145px;
  left: 16%;
}

.circle-3 {
  position: absolute;
  top: 145px;
  left: 32.4%;
}

.circle-4 {
  position: absolute;
  top: 145px;
  left: 49.6%;
}

.circle-5 {
  position: absolute;
  top: 145px;
  left: 65.8%;
}

.top-black-heading-1 {
  margin: 0 35%;
}

/* //////////////////////////////////////////////////////////// */
/* section-8 */
.get-in-touch-main {
  width: 100%;
  margin: 0 auto;
  /* min-height: 800px; */
  text-align: center;
}

.get-in-touch-background {
  background-color: #212121;
  width: 100%;
  height: 258px;
}

.inner-con {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.red-hed {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #dc2d32;
  text-align: left;
  text-transform: capitalize;
}

.text-con {
  width: 63.35%;
  /* min-height: 500px; */
  text-align: left;
  line-height: 1.9;
  font-size: 20px;
  display: inline-block;
  padding-left: 55px;
}

.text-con p {
  width: 70%;
  font-size: 20px;
}

.icon-section-main {
  margin: 35px 0;
}

.icon-section img {
  padding-right: 25px;
}

table td {
  width: 37.3%;
  font-weight: 500;
  color: #2e2e2e;
  margin-left: -5px;
}

.form-div {
  width: 30%;
  /* display: inline-block; */
  /* text-align: right; */
}

form {
  min-width: 400px;
  /* min-height: 665px; */
  margin: 0px;
  padding: 58px 77px 48px 78px;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.17);
  background-color: #f7f7f7;
  text-align: center;
  margin-top: -140px;
  margin-bottom: 100px;
}

.input-type-1 {
  width: 95%;
  max-height: 30px;
  margin: 15px 0;
  padding: 10px 3px 11px 19px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  background-color: #f7f7f7;
  font-size: 18px;
}

.input-type-2 {
  width: 42%;
  max-height: 128px;
  margin: 15px 0 43px;
  padding: 10px 214px 94px 19px;
  border-radius: 4px;
  border: solid 1px #cbcbcb;
  background-color: #f7f7f7;
  font-size: 20px;
}

input[type="date"]::before {
  color: #2e2e2e;
  font-weight: 400;
  content: attr(placeholder);
}
input[type="date"] {
  color: #f6f6f6;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #2e2e2e;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

.make-app {
  max-width: 100%;
  flex-wrap: wrap;
  /* margin: 20px 20px 44px 21px; */
  font-size: 30px;
  text-align: left;
  color: #dc2d32;
  /* margin-left: 0%; */
}

.form-button {
  min-width: 255px;
  min-height: 60px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 18px;
  /* align-items: left; */
}
.f-bt {
  width: 100%;
}

/* Footer first Section */
.footer-nav-first {
  /* background-color: #2e2e2e; */
  max-width: 100%;
  /* height: 139px; */
  /* margin: 91px 0 0; */
  /* padding: 47px 0 0; */
  /* display: block; */
}

.footer-nav-main {
  width: 100%;
  margin: 0 auto;
  background-color: #2e2e2e;
}

.footer--nav {
  min-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  flex-direction: row;
  align-content: center;
  /* flex-direction: row; */
}

.footer-nav-list {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
}

.footer-nav-list li {
  margin-right: 86px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #f6f6f6;
  font-weight: 300;
  padding: 30px auto;
}

.footer-nav-list li:hover {
  font-weight: 600;
  orientation: fixed;
}

/* Footer second Section */
.footer-copyright {
  min-width: 100%;
  margin: 0 auto;
  background-color: #212121;
  max-height: 80px;
  /* margin-bottom: 0px; */
  /* display: flex; */
}

.cpy-right {
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  color: #f6f6f6;
  text-transform: uppercase;
}

.lastcon {
  max-width: 1511px;
  margin: 0 auto;
  /* padding: 10px 0; */
}

.john-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0 5% 0;
  align-items: baseline;
  align-content: center;
}

.our-process {
  width: 100%;
  max-height: 770px;
  margin: 0;
  padding: 0%;
}

.john-card-data {
  background-image: url("../images/white-pro.png");
  background-repeat: no-repeat;
  width: 256px;
  height: 236px;
  color: #000;
  line-height: 1.38;
  text-align: center;
  cursor: pointer;
}

.card-name {
  font-size: 18px;
  font-weight: 600;
}

.card-img {
  max-width: 88px;
  max-height: 88px;
  margin: 50px 88px 23px 89px;
  text-align: center;
}

.card-details {
  display: none;
}

.john-card-data:hover {
  width: 400px;
  height: 414px;
  background-image: url("../images/red-pro.png");
  background-repeat: no-repeat;
  color: #fff;
  line-height: 1.38;
  text-align: center;
  transform: scale(1.2);

  /* position: fixed; */
}

.john-card-data:hover .card-details {
  display: block;
  width: 334px;
  height: 147px;
  font-size: 14px;
  line-height: 1.64;
  margin: 33px 33px 48px 33px;
}

/* //////////////////////////////////////////////////////////////// */

.slider-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  display: none;
  margin: 0 auto;
}

.slider {
  min-width: 100%;
  max-width: 60%;
  /* height: 400px; */
  margin: 20px;
  text-align: center;
  /* border-radius: 20px; */
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
/* 
.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
} */

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  min-height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: #f6f6f6;
  transform-origin: center center;
  transform: scale(1);
}

/* .slide__text { */
/* font-size: 40px; */
/* font-weight: bold; */
/* font-family: sans-serif; */
/* } */

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  /* margin-left: -100px; */
  /* text-align: center; */
}

/* .read-article{ */
/* position: absolute; */
/* top: 10px; */
/* left: 10px; */
/* z-index: 999; */
/* color: #000; */
/* background: white; */
/* padding: 10px 20px; */
/* border-radius: 10px; */
/* font-family: arial; */
/* text-decoration: none; */
/* box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px; */
/* } */
.read-article:hover {
  background: #d5d5d5;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}
iframe[sandbox] .read-article {
  display: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.our-proces-slider-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  display: none;
  margin: 0 auto;
}

.our-proces-slider {
  min-width: 100%;
  max-width: 60%;
  /* height: 400px; */
  margin: 20px;
  text-align: center;
  /* border-radius: 20px; */
  overflow: hidden;
  position: relative;
}

.our-proces-slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
/* 
.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
} */

.our-proces-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  min-height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: #f6f6f6;
  transform-origin: center center;
  transform: scale(1);
}

/* .slide__text { */
/* font-size: 40px; */
/* font-weight: bold; */
/* font-family: sans-serif; */
/* } */

.our-proces-slide a {
  background: none;
  border: none;
}

a.our-proces-slide__prev,
.our-proces-slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.our-proces-slide__next,
.our-proces-slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.our-proces-slider::before,
.our-proces-slider::after,
.our-proces-slide__prev,
.our-proces-slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.our-proces-slider::before,
.our-proces-slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.our-process-slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  /* margin-left: -100px; */
  /* text-align: center; */
}

/* .read-article{ */
/* position: absolute; */
/* top: 10px; */
/* left: 10px; */
/* z-index: 999; */
/* color: #000; */
/* background: white; */
/* padding: 10px 20px; */
/* border-radius: 10px; */
/* font-family: arial; */
/* text-decoration: none; */
/* box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px; */
/* } */
.read-article:hover {
  background: #d5d5d5;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}
iframe[sandbox] .read-article {
  display: none;
}

.our-proces-slider-container {
  display: none;
}

.footer-copyright-nav {
  display: flex;
  justify-content: space-between;
  /* text-align: left; */
  /* align-items: center; */
  /* padding: 30px 0px; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
}

/* @media (max-width:600px) {
  .nav-main{
    flex-direction: column;
  }
} */
.footer-copyright-nav .nav-list-f {
  list-style: none;
  display: flex;
  color: white;
  font-size: 18px;
}
.footer-copyright-nav .nav-list-f li {
  margin-left: 40px;
  cursor: pointer;
  text-transform: uppercase;
}
.footer-copyright-nav .nav-list-f li:hover {
  font-weight: 600;
}

.icon-leb {
  font-weight: 500;
}

@media (max-width: 1199px) and (min-width: 1024px) {
  p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }

  .our-project-card {
    display: block;
    width: 80%;
    margin: 1% auto;
    text-align: center;
  }
  .inner-con,
  .nav-main,
  .our-project,
  .our-features-main {
    flex-direction: column;
  }
  .nav-list li {
    display: none;
  }

  .footer--nav {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  .top-white-heading,
  .top-black-heading,
  .top-black-heading-1 {
    margin: 5% auto;
  }

  .about-us {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .about-us-container {
    min-width: 100%;
    background-color: #212121;
    padding: 3% 0 3% 8%;
    z-index: 1;
    text-align: justify;
  }
  .about-us-container p,
  .about-us-heading {
    min-width: 80%;
    padding: 0 0 0 8%;
    text-align: justify;
  }

  .about-us button {
    margin: -2% 0 2% 8%;
  }

  .about-us-image-container,
  .our-design-about-cont {
    display: none;
  }

  .our-proces-slider-container,
  .slider-container {
    display: block;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .text-con,
  .text-con p {
    text-align: justify;
    min-width: 90%;
    /* margin: 0 0; */
  }

  .inner-con {
    width: 100%;
    /* margin: 5% auto; */
  }

  .form-div,
  form {
    width: 80%;
    margin: 26px auto;
  }

  form .input-type-1 {
    /* width: 7; */
    margin: 5% -5% 5% -15%;
  }
  form .input-type-2 {
    width: 60%;
    margin: 5% -5% 5% -15%;
  }
  .john-main {
    display: none;
  }
  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .our-process {
    max-height: auto;
  }
  .our-servicis-card-main {
    display: flex;
    flex-direction: column;
    min-height: 950px;
    max-width: 80%;
  }
}

@media (max-width: 1023px) and (min-width: 992px) {
  p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }

  .our-project-card {
    display: block;
    width: 80%;
    margin: 1% auto;
    text-align: center;
  }
  .inner-con,
  .nav-main,
  .our-project,
  .our-features-main,
  .our-features-icons {
    flex-direction: column;
  }
  .nav-list li {
    display: none;
  }
  .footer--nav {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  .top-white-heading,
  .top-black-heading,
  .top-black-heading-1 {
    margin: 5% auto;
  }

  .about-us {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .about-us-container {
    min-width: 100%;
    background-color: #212121;
    padding: 3% 0 3% 8%;
    z-index: 1;
    text-align: justify;
  }
  .about-us-container p,
  .about-us-heading {
    min-width: 80%;
    padding: 0 0 0 8%;
    text-align: justify;
  }

  .about-us button {
    margin: -2% 0 2% 8%;
  }

  .about-us-image-container,
  .our-design-about-cont {
    display: none;
  }
  .our-proces-slider-container,
  .slider-container {
    display: block;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .text-con,
  .text-con p {
    text-align: justify;
    min-width: 90%;
    /* margin: 0 0; */
  }

  .inner-con {
    width: 100%;
    /* margin: 5% auto; */
  }

  .form-div,
  form {
    width: 80%;
    margin: 26px auto;
  }

  form .input-type-1 {
    /* width: 7; */
    margin: 5% -5% 5% -15%;
  }
  form .input-type-2 {
    width: 60%;
    margin: 5% -5% 5% -15%;
  }
  .john-main {
    display: none;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .our-process {
    max-height: auto;
  }
  .our-servicis-card-main {
    display: flex;
    flex-direction: column;
    min-height: 950px;
    max-width: 80%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }

  .our-project-card {
    display: block;
    width: 80%;
    margin: 1% auto;
    text-align: center;
  }
  .inner-con,
  .nav-main,
  .our-project,
  .our-features-main {
    flex-direction: column;
  }
  .nav-list li {
    display: none;
  }
  .footer--nav {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }
  .top-white-heading,
  .top-black-heading,
  .top-black-heading-1 {
    margin: 5% auto;
  }

  .about-us {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .about-us-container {
    min-width: 100%;
    background-color: #212121;
    padding: 3% 0 3% 8%;
    z-index: 1;
    text-align: justify;
  }
  .about-us-container p,
  .about-us-heading {
    min-width: 80%;
    padding: 0 0 0 8%;
    text-align: justify;
  }

  .about-us button {
    margin: -2% 0 2% 8%;
  }

  .about-us-image-container,
  .our-design-about-cont {
    display: none;
  }
  .our-proces-slider-container,
  .slider-container {
    display: block;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }
  .text-con,
  .text-con p {
    text-align: justify;
    min-width: 90%;
    /* margin: 0 0; */
  }

  .inner-con {
    width: 100%;
    /* margin: 5% auto; */
  }

  .form-div,
  form {
    width: 80%;
    margin: 26px auto;
  }

  form .input-type-1 {
    /* width: 7; */
    margin: 5% -5% 5% -15%;
  }
  form .input-type-2 {
    width: 60%;
    margin: 5% -5% 5% -15%;
  }
  .john-main {
    display: none;
  }
  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .our-process {
    max-height: auto;
  }
  .our-servicis-card-main {
    display: flex;
    flex-direction: column;
    min-height: 950px;
    max-width: 80%;
  }
}

@media (max-width: 767px) and (min-width: 685px) {
  p {
    text-align: center;
    display: flex;
  }
  .our-project-card {
    display: block;
    width: 80%;
    margin: 1% auto;
    text-align: center;
  }
  .nav-main,
  .our-project,
  .our-features-main {
    flex-direction: column;
  }
  .nav-list li {
    display: none;
  }
  .footer--nav {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  .top-white-heading,
  .top-black-heading,
  .top-black-heading-1 {
    margin: 5% auto;
  }
  .about-us {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .about-us-container {
    min-width: 100%;
    background-color: #212121;
    padding: 3% 0 3% 8%;
    z-index: 1;
    text-align: justify;
  }
  .about-us-container p,
  .about-us-heading {
    min-width: 80%;
    padding: 0 0 0 8%;
    text-align: justify;
  }

  .about-us button {
    margin: -2% 0 2% 8%;
  }

  .about-us-image-container,
  .our-design-about-cont {
    display: none;
  }
  .our-proces-slider-container,
  .slider-container {
    display: block;
  }

  .text-con {
    text-align: justify;
    min-width: 100%;
  }
  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .our-process {
    max-height: auto;
  }
  .our-servicis-card-main {
    display: flex;
    flex-direction: column;
    min-height: 950px;
    max-width: 80%;
  }
}

@media (max-width: 684px) and (min-width: 568px) {
  p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }

  .our-project-card {
    display: block;
    width: 80%;
    margin: 1% auto;
    text-align: center;
  }
  .inner-con,
  .nav-main,
  .our-project,
  .our-features-main {
    flex-direction: column;
  }
  .nav-list li {
    display: none;
  }
  .footer--nav {
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }

  .top-white-heading,
  .top-black-heading,
  .top-black-heading-1 {
    margin: 5% auto;
  }

  .about-us {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .about-us-container {
    min-width: 100%;
    background-color: #212121;
    padding: 3% 0 3% 8%;
    z-index: 1;
    text-align: justify;
  }
  .about-us-container p,
  .about-us-heading {
    min-width: 80%;
    padding: 0 0 0 8%;
    text-align: justify;
  }

  .about-us button {
    margin: -2% 0 2% 8%;
  }

  .about-us-image-container,
  .our-design-about-cont {
    display: none;
  }
  .our-proces-slider-container,
  .slider-container {
    display: block;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .text-con,
  .text-con p {
    text-align: justify;
    min-width: 90%;
    /* margin: 0 0; */
  }

  .inner-con {
    width: 100%;
    /* margin: 5% auto; */
  }

  .form-div,
  form {
    width: 80%;
    margin: 26px auto;
  }

  form .input-type-1 {
    /* width: 7; */
    margin: 5% -5% 5% -15%;
  }
  form .input-type-2 {
    width: 60%;
    margin: 5% -5% 5% -15%;
  }
  .john-main {
    display: none;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .our-process {
    max-height: auto;
  }
  .our-servicis-card-main {
    display: flex;
    flex-direction: column;
    min-height: 950px;
    max-width: 80%;
  }
}

@media (max-width: 567px) and (min-width: 480px) {
  p {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
  }

  .our-project-card {
    display: block;
    width: 80%;
    margin: 1% auto;
    text-align: center;
  }
  .inner-con,
  .nav-main,
  .our-project,
  .our-features-main {
    flex-direction: column;
  }
  .nav-list li {
    display: none;
  }
  .footer--nav {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  .top-white-heading,
  .top-black-heading,
  .top-black-heading-1 {
    margin: 5% auto;
  }

  .about-us {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  .about-us-container {
    min-width: 100%;
    background-color: #212121;
    padding: 3% 0 3% 8%;
    z-index: 1;
    text-align: justify;
  }
  .about-us-container p .about-us-heading {
    min-width: 80%;
    padding: 0 0 0 8%;
    text-align: justify;
  }

  .about-us button {
    margin: -2% 0 2% 8%;
  }

  .about-us-image-container,
  .our-design-about-cont {
    display: none;
  }
  .our-proces-slider-container,
  .slider-container {
    display: block;
  }

  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .text-con,
  .text-con p {
    text-align: justify;
    min-width: 90%;
    /* margin: 0 0; */
  }

  .inner-con {
    width: 100%;
    /* margin: 5% auto; */
  }

  .form-div,
  form {
    width: 80%;
    margin: 26px auto;
  }

  form .input-type-1 {
    /* width: 7; */
    margin: 5% -5% 5% -15%;
  }
  form .input-type-2 {
    width: 60%;
    margin: 5% -5% 5% -15%;
  }
  .john-main {
    display: none;
  }
  .footer-nav-list,
  .footer-nav-list li {
    flex-direction: column;
    padding: 10px 0;
    text-align: left;
  }

  .our-process {
    max-height: auto;
  }
  .our-servicis-card-main {
    display: flex;
    flex-direction: column;
    min-height: 950px;
    max-width: 70%;
  }
}
