@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-color: #444e68;
  font-size: 14px;
}

footer {
  background-color: #2c3449;
  height: 300px;
  /* z-index: 1; */
}

footer a {
  color: #0685d9;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  margin: 40px 40px 0 40px;
  padding: 31px 41px 0 41px;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  height: 130px;
  padding-bottom: 10px;
}

.header-end {
  font-size: 21px;
}

.header-end .home {
  color: #e8a12b !important;
}

.header-center .element {
  opacity: 0.7;
}

header .header-center .active {
  background-color: #323b52;
  opacity: 1 !important;
  border-radius: 20px !important;
  padding: 10px 19px !important;
}

.header-end {
  text-align: end;
  line-height: 0.7;
}

.scte-logo {
  width: 140px;
}

.m-p-unset {
  margin: unset;
  padding: unset;
}

.brand-top {
  font-family: "Old Standard TT", serif;
  color: #ffffff;
  font-size: 57px;
  font-weight: 50;
  line-height: 1.1;
}

.logo-img {
  width: 83px;
  margin: 0 0 0 19px;
}

.f-color-white,
.f-color-white a {
  color: #fff;
  font-size: 16px;
}

.footer-end-container {
  width: 93%;
  margin: 0 0 0 2%;
}

.footer-last-text,
.footer-last-text:hover {
  color: #717785;
}

.Secondary-container {
  width: 90%;
  margin: 0 auto;
}

.header-element-padding {
  padding: 5px 17px;
}

.header-start .home {
  border-top: 3px solid #e8a12b;
  border-bottom: 3px solid #e8a12b;
}

.certification-hov {
  border-top: 3px solid rgba(209, 12, 249, 0);
  border-bottom: 3px solid rgba(209, 12, 249, 0);
  transition: all 0.1s;
}

.certification-hov:hover {
  border-top-color: rgba(209, 12, 249, 1);
  border-bottom-color: rgba(209, 12, 249, 1);
  transition: all 1s;
}

.coursework-hov {
  border-top: 3px solid rgba(49, 214, 196, 0);
  border-bottom: 3px solid rgba(49, 214, 196, 0);
}

.coursework-hov:hover {
  border-top-color: rgba(49, 214, 196, 1);
  border-bottom-color: rgba(49, 214, 196, 1);
  transition: all 1s;
}

/* .coursework-hov {
} */
.fs-16 {
  font-size: 16px;
}

.w-10 {
  width: 10% !important;
  margin: 0 auto;
}

.w-15 {
  width: 15% !important;
  margin: 0 auto;
}

.w-20 {
  width: 20% !important;
  margin: 0 auto;
}

.w-22 {
  width: 22% !important;
}

.w-30 {
  width: 30% !important;
  margin: 0 auto;
}
.w-40 {
  width: 40% !important;
  margin: 0 auto;
}

.w-60 {
  width: 60% !important;
  margin: 0 auto;
}
.w-70 {
  width: 70% !important;
  margin: 0 auto;
}
.w-80 {
  width: 80% !important;
  margin: 0 auto;
}
.w-90 {
  width: 90% !important;
  margin: 0 auto;
}

.fw-0 {
  font-weight: 400;
}

.fw-1 {
  font-weight: 500;
}

.fw-2 {
  font-weight: 600;
}

.border-blue {
  border-color: #0685d9 !important;
}

.border-blue svg {
  opacity: 0.8;
}

footer li a:hover {
  color: #0685d9;
}

main {
  margin: 40px 40px 0 40px;
}

.utalization-main {
  background-image: url("../images/grp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
  margin-top: 196px;
}

.fs-12 {
  font-size: 12px;
}

.date-fs {
  font-size: 29px;
}

.overlay-padding .flowing-section .performance {
  font-style: 14px;
  padding-top: 10px;
  position: relative;
}

#innerData,
.performance p {
  cursor: pointer;
}

.profile {
  width: 30px;
  border-radius: 50%;
}

.background-togler {
  background-image: url(../images/graph5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.fs-20 {
  font-size: 20px;
}

.align-bottom {
  align-items: flex-end;
}

.contact-wh {
  min-width: 290px;
  padding-top: 14px;
  text-align: center;
  /* color: #fff; */
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.bg-pink {
  background-color: #aaa;
}

.green-sec-parrent {
  position: relative;
}

#green-sect {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hero-section {
  background-image: url("../images/polycable_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  position: relative;
  z-index: -1;
  background-position: bottom;
}

.overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.svgSetting {
  min-width: 100%;
  margin-top: 140px;
  position: relative;
}

.posationing {
  position: absolute;
  top: 49.5%;
}

.wrapper {
  width: 100%;
  position: absolute;
  /* top: 0; */
  margin-top: 300px;
}

.img-overlay {
  z-index: 0;
  width: 100%;
  height: 422px;
  position: relative;
}

.z-index-0 {
  position: relative;
}

.overlay-data {
  background-image: url(../images/all.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -342px;
  max-width: 100%;
  min-height: 344px;
}

.set-pos {
  padding-top: 100px;
}

.overlay-padding {
  padding: 29px 9px 13px 15px;
  color: #fff;
  font-size: 17px;
  line-height: 2;
}

.popup-dots {
  text-align: left;
  color: #fff;
  font-size: 13px;
  line-height: 2;
}
.card-percentage {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1;
  padding-top: 7px;
}

.card-percentage .sign {
  font-size: 33px;
  position: relative;
  top: -30px;
}
.card-percentage .after-point {
  position: relative;
  font-size: 24px;
}
.card-percentage .mod {
  position: relative;
  right: 20px;
  font-size: 33px;
  top: -30px;
}

.down-text {
  font-size: 11px;
  vertical-align: bottom;
  padding-top: 6px;
}

.arrow-img {
  width: 15px;
  height: 17px;
  margin-top: -10px;
}

.d-none-sec {
  display: none !important;
}
.toogled-border {
  margin: 10px 20px;
  border: 1px solid #fff;
}

.cont-width {
  width: 340px;
}

/* .details{
    margin-top: -190px;
} */
.w-20-1 {
  width: 20%;
}

.w-20-2 {
  width: 20%;
}

.w-20-3 {
  width: 20%;
}

.w-20-4 {
  width: 20%;
}

.w-20-5 {
  width: 20%;
}

.cross-font {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.cross-font:hover {
  color: #fff;
}

.flowing-section {
  color: white;
  line-height: 1.5;
}

.toogler-sec {
  padding: 10px 20px;
}

.opc-7 {
  opacity: 0.7;
}

.date-main {
  cursor: pointer;
}

.details-over-main {
  position: relative;
  margin-top: -205px;
}

.bg-green {
  background-color: rgba(45, 191, 22, 0.9);
  position: absolute;
  top: 0;
  left: 0;
}

.bg-pink {
  background-color: rgba(247, 0, 101, 0.9);
  position: absolute;
  top: 0;
  left: 365px;
}

.bg-blue {
  background-color: rgba(84, 78, 159, 0.9);
  position: absolute;
  top: 0;
  left: 730px;
}

.bg-lightBlue {
  background-color: rgba(0, 117, 213, 0.9);
  position: absolute;
  top: 0;
  right: 368px;
}

.bg-orange {
  background-color: rgba(252, 172, 42, 0.9);
  position: absolute;
  top: 0;
  right: 0;
}

.Togg-back {
  background-color: rgba(37, 45, 62, 0.9);
  font-size: 14px;
  padding: 10px 8px 0;
  max-width: 320px;
  min-height: 75px;
  display: flex;
  z-index: 1;
  position: absolute;
  top: 264px;
}

.Togg-back .togg-text {
  line-height: 1.5;
  font-weight: light;
  padding: 5px 0 !important;
  cursor: unset;
}

.cross-togg {
  cursor: pointer;
  color: #f33;
  font-size: 10px;
}

.w-333 {
  width: 365.39px;
}

.float-right {
  margin-left: auto;
  margin-right: 0;
}

/* ?//////////////////////////////?/////???????/??????? */
/* Calander */

.calendar {
  width: 322px;
  min-height: 300px;
  /* // border: 1px solid #666; */
}

.headline {
  padding: 10px 0;
  text-align: center;
  position: relative;
  color: #fff;
  border-bottom: 1px solid #bbb;
}
.headline .divider {
  color: #fff;
}
.headline .year {
  color: #fff;
}
.headline .click-left,
.headline .click-right {
  cursor: pointer;
  position: absolute;
}
.headline .click-left {
  left: 5px;
}
.headline .click-right {
  right: 5px;
}
.weekdays,
.days {
  text-align: center;
  margin: 0 auto;
}
.weekdays * {
  width: 40px;
  margin: 10px 1px;
  color: #fff;
  display: inline-block;
}
.date {
  display: inline-block;
  width: 29px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 3px 8px;
  color: #fff;
  cursor: pointer;
}
.date.out-of-scope {
  color: rgba(green, red, blue, 1);
}
.date.selected {
  color: #000;
  border: 1px solid #fff;
}

.chat-section-main {
  background-color: #323b52;
  padding-bottom: 140px;
  padding-top: 20px;
}

.chat-section-main .chat-heading h1 {
  margin-left: 65px;
  color: #444e68;
  font-size: 62px;
  font-family: "Old Standard TT", serif;
}
.chat-section-main .chat-cont {
  padding: 40px 0px 0px 17px;
  width: 610px;
  height: 1306px;
}

.chat-box {
  max-width: 415px;
  min-height: 167px;
  font-size: 17px;
  color: #8d97b1;
  cursor: pointer;
  background-color: #444e68;
  padding: 29px 88px 41px 56px;
  margin-top: 33px;
  position: relative;
}

.left-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 33px solid #444e68;
  border-bottom: 25px solid transparent;
  top: 100%;
  left: 33px;
}

.right-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 33px solid #444e68;
  border-bottom: 25px solid transparent;
  top: 100%;
  right: 33px;
}

.left-box {
  margin-left: 30px;
  margin-right: auto;
}

.right-box {
  margin-right: 30px;
  margin-left: auto;
}

.chat-section-main .chat-box:hover {
  box-shadow: 0px 5px 20px 5px  rgba(0, 0, 0, 0.6);
}

.chat-box p {
  max-width: 270px;
}

.chat-box p span {
  color: #c3cad8;
}

.chat-bottm-img {
  width: 240px;
  height: 139px;
  margin: auto auto;
}

.line-chart-sec {
  color: #fff;
  text-align: right;
}

.line-chart-sec h3 {
  color: #c1c4cb;
  font-size: 20px;
  margin: 10px 0px;
  font-weight: lighter;
}

.months ul {
  display: flex;
  justify-content: space-around;
}

.container_svg {
  min-height: 400px !important;
  display: flex;
  align-items: center;
}

/* .yellow-svg{ */
/* margin: 0 10px 0 0; */
/* width: 60%; */
/* position: absolute; */

/* } */

.blue-svg {
  margin-top: -170px;
}

.linechart-details {
  display: flex;
  justify-content: flex-end;
}

.linechart-details ul {
  display: flex;
  max-width: 289px;
  font-size: 11px;
  justify-content: flex-start;
}

.linechart-details ul li {
  padding-left: 10px;
  min-width: 33%;
}


.zc-ref {
  display: none;
  z-index: -10;
}

.line-chart-main {
  margin-right: 40px;
  line-height: 1;
}

.text-deco {
  color: #adb0b9;
  font-size: 20px;
  margin-top: 25px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.arrow-up-down {
  display: grid;
  cursor: pointer;
}

.datalines h4 {
  color: #8d9096;
  font-size: 18px;
}

.w-58 {
  width: 58.5% !important;
}

.arrheading {
  display: flex;
  align-items: center;
}
.arrheading p {
  margin: 8px 10px;
  cursor: pointer;
}

.text-deco span {
  font-size: 30px;
  font-weight: bold;
}

.datalines {
  padding: 0px 15px;
  margin-top: -100px;
}

.color-orng {
  color: #f5a623 !important;
}

.color-upw {
  color: #31d6c4 !important;
}

.color-lb {
  color: #0093f1 !important;
}

.bg-color-orng {
  background-color: #f5a623 !important;
}

.bg-color-upw {
  background-color: #31d6c4 !important;
}

.bg-color-lb {
  background-color: #0093f1 !important;
}

.showing-Data {
  max-width: 94.85%;
  margin-left: auto;
  color: #fff;
  margin-top: 25px;
  margin-right: 30px;
}

.sugges {
  color: #476076;
  font-weight: light;
  width: 113px;
}

.progress {
  background: #252c3e;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 16px;
  width: 100%;
}

.progress-value {
  border-radius: 100px;
  height: 16px;
  width: 0;
}

.pgl-1 {
  animation: load 1s normal forwards;
}

.mart-3 {
  margin-top: 15px;
  margin-bottom: 20px;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 82%;
  }
}

.pgl-2 {
  animation: load2 1s normal forwards;
}
@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

.pgl-3 {
  animation: load3 1s normal forwards;
}
@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

.pgl-4 {
  animation: load4 1s normal forwards;
}
@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 73%;
  }
}

.pgl-5 {
  animation: load5 1s normal forwards;
}
@keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 78%;
  }
}

.pgl-6 {
  animation: load6 1s normal forwards;
}
@keyframes load6 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

.pgl-7 {
  animation: load7 1s normal forwards;
}
@keyframes load7 {
  0% {
    width: 0;
  }
  100% {
    width: 86%;
  }
}

.pgl-8 {
  animation: load8 1s normal forwards;
}
@keyframes load8 {
  0% {
    width: 0;
  }
  100% {
    width: 98%;
  }
}

/* .animat { */
/* animation: upDown 1s normal linear; */
/* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
/* } */

/* @keyframes upDown { */
/* 0%, */
/* 100% { */
/* transform: translateY(0); */
/* } */
/* 50% { */
/* transform: translateY(-100px); */
/* } */
/* } */

.compHead h1{
    color: #444E68;
    font-size: 62px !important;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.addMore{
    margin-left: 40px;
}
.addMore span{
    padding-left: 10px;
}


/* ????????????????????????/////////////////////// */
.progress_image .image_container {
    display: flex;
  }
  
 .progress_image .image_container .background > div {
    width: 175px;
    height: 175px;
    background: -moz-linear-gradient(top, #252c3e 0%, #4b5771 100%);
    background: -webkit-linear-gradient(top, #252c3e 0%, #4b5771 100%);
    background: linear-gradient(to bottom, #252c3e 0%, #4b5771 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 24px;
  }
  .progress_image .image_container .background h1 {
    margin: 0;
    font-size: 92px;
    font-weight: bold;
    background: -moz-linear-gradient(top, #4b5771 0%, #252c3e 100%);
    background: -webkit-linear-gradient(top, #4b5771 0%, #252c3e 100%);
    background: linear-gradient(to bottom, #4b5771 0%, #252c3e 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
   .number_circle {
    border: none;
    background-image: linear-gradient(#242d42, #3e475f);
  } 
  .number_circle h1 {
    font-size: 79px;
    color: #fff;
    opacity: 0.2;
    font-family: "Roboto", sans-serif;
  }
  .number_circle img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .top_space {
    margin-top: 32px;
  }
  
  /*  Circle animation --- START  */
  .circle-block,
  .first-circle-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 6px;
  }
  .first-circle-block > .primary_container_img {
    padding-top: 15px;
  }
  .first-circle-block > .primary_container_img ul {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }
  .first-circle-block > .primary_container_img ul li {
    width: auto;
    padding-right: 5px;
  }
  .first-circle-block > .primary_container_img ul li p {
    padding-left: 3px;
  }
  .circle-block2 > div h1,
  .circle-block2 > div p {
    color: #31d6c4;
  }
  .circle-block svg {
    width: 180px;
  }
  .percentage {
    position: absolute;
    color: #f70065;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .percentage h1 {
    font-size: 55px;
    line-height: 41px;
  }
  .percentage p {
    font-size: 11px;
  }
  .percentage-area h1 {
    padding-top: 21px;
    margin-bottom: 0;
    padding-bottom: 38px;
    margin-top: 0;
    font-size: 34px;
    line-height: 41px;
  }
  .animation-area {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
  }
  .animation-area .extra-bc {
    position: absolute;
    top: 36px;
    left: 36px;
    bottom: 40px;
    right: 34px;
    background: #2c4361;
    border-radius: 50%;
  }
  .percentage-area h1 sup {
    font-size: 17px;
    position: relative;
    bottom: 10px;
  }
  .first-circle-block svg {
    width: 187px;
  }
  .circle-inner {
    fill: none;
    stroke-width: 0.5px;
    stroke: #4ee2c0;
  }
  .second-circle .circle-inner {
    fill: none;
    stroke-width: 0px;
    stroke: #31d6c4;
  }
  .third-circle .circle-inner {
    fill: none;
    stroke-width: 1px;
    stroke: #ef32ff;
  }
  .percentage2 {
    color: #31d6c4;
  }
  
  .circle_2 {
    margin-left: 27px;
    margino-top: 3;
  }
  .circle-inner2 {
    fill: none;
    stroke-width: 8px;
    stroke: #31d6c4;
  }
  .circle1,
  .circle11,
  .circle111,
  .circle2 {
    fill: none;
    stroke: #9c34fd;
    transition: all 1.5s ease-in-out;
    stroke-dasharray: 283.2865905761719;
    stroke-dashoffset: 282.2865905761719;
  }
  .circleres1,
  .circleres11,
  .circleres111,
  .circleres2 {
    fill: none;
    stroke: #9c34fd;
    transition: all 1.5s ease-in-out;
    stroke-dasharray: 283.2865905761719;
    stroke-dashoffset: 282.2865905761719;
  }
  .circle1,
  .circle11,
  .circle111 {
    stroke-width: 6px;
  }
  .circleres1,
  .circleres11,
  .circleres111 {
    stroke-width: 6px;
  }
  .circle11 {
    stroke: #2da1ec;
  }
  .circleres11 {
    stroke: #2da1ec;
  }
  .circle111 {
    stroke: #ef32ff;
  }
  .circleres111 {
    stroke: #ef32ff;
  }
  .circle2 {
    stroke: #31d6c4;
    stroke-width: 10px;
  }
  .circleres2 {
    stroke: #31d6c4;
    stroke-width: 10px;
  }
  .second-circle {
    position: absolute;
    top: 0;
    padding-top: 29px;
  }
  .third-circle {
    position: absolute;
    top: 0;
    padding-top: 30px;
  }
  .percentagearea {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .percentagearea > div {
    text-align: center;
  }
  .percentagearea > div.pink {
    color: #9c34fd;
  }
  .pink p {
    padding-top: 5px;
  }
  .percentagearea > div.green {
    color: #2da1ec;
    padding-top: 34px;
  }
  .percentagearea h1 {
    margin: 0;
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 100;
    padding-top: 14px;
  }
  .percentagearea h1 span:last-child {
    font-size: 33px;
  }
   .second-circle svg {
    width: 130px;
  }
  